body {
	background: 
		linear-gradient(
			rgba(36, 65, 127, 0.7), 
			rgba(36, 65, 127, 0.7)
		),
		url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: 100%;
	color: rgba(255, 255, 255, 1.0);
	font-family: 'SegoeUI';
	font-weight: normal;
}

header {
	width: 100%;
	background-color: rgba(18, 33, 64, 1.0);
	border-bottom: 1px solid #050b0b;
	position: relative;
	top: 0px;
	z-index: 99999;
}

#logo {
	position: relative;
	font-family: 'TypeFaceSeven';
	font-weight: normal;
	font-size: 40px;
	text-transform: uppercase;
	color: rgba(255,255,255,1.0);	
	padding: 0px;
	margin: 0;
}

#sublogo {
	position: relative;
	font-family: 'TypeFaceSeven';
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1.0);
	text-align: right;
	padding: 15px;
	margin: 0;
}

#portfoliopicture {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: rgba(218, 219, 224, 0.5);
	border: 3px solid rgba(218, 219, 224, 0.5);
	margin: 20px 15px;
	box-shadow: 5px solid rgba(0,0,0,1.0);
}

#standardbar {

}

#standardbar > ul {
	
}

#standardbar > ul > li {
	font-size: 15px;
}


#standardbar > ul > li > a {
	color: rgba(255, 255, 255, 1.0);
}

#standardbar > ul > li > a:hover {
	background-color: transparent;
	color: rgba(255, 255, 255, 1.0);
}

#sidebar {
	font-family: 'SegoeUI';
	font-weight: normal;
}

#sidebar > ul {
	font-size: 15px;
	margin: 10px 0;
}

#sidebar > ul > li {
	letter-spacing: 0.5px;
	margin: 5px 0;
}

#sidebar > ul > li > a {
	background-color: rgba(41, 73, 146, 1.0);
	color: rgba(255, 255, 255, 1.0);
}

#mainboard {
	background-color: rgba(218, 219, 224, 1.0);
	min-height: 1000px;
}